.judgeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.gavel {
  background-image: url("/judge.webp");
}

.gavelAnimation {
  animation: gavelHit 0.7s linear 3;
  background-image: url("/judge.webp");
}

@keyframes gavelHit {
  0% {
    background-image: url("/judge-gavel-up.webp");
  }
  50% {
    background-image: url("/judge-gavel-down.webp");
  }
  100% {
    background-image: url("/judge-gavel-up.webp");
  }
}
